 <h1>All articles</h1>
 <h4><%= link_to "Новый пост", new_article_path %></h4>
 <table>
   <tr>
    <th>ID</th>
     <th>Название</th>
     <th>Описание</th>
     <th>Действие</th>
     <th>Obnovit'</th>
     <th>Last update<th>
   </tr>
 <% @articles.each do |article| %>
     <tr>
       <td><%= article.id %></td>
        <td><%= article.title %></td>
         <td><%= article.description%></td>
         <td><%= link_to "Просмотреть", article_path(article)%></td>
         <td><%= link_to "Обновить", edit_article_path(article)%></td>
         <td><%= link_to "Удалить", article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
         <td><%= article.updated_at.strftime("%H:%M:%S, %d/%m/%y") %></td>
     </tr>
 <% end %>
 </table>