<h1><%= @article.title %></h1>
<p><%= @article.description %></p>
<td><%= link_to "Обновить", edit_article_path(@article)%></td>
<td><%= link_to "Удалить", article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %></td>
<%= link_to "Все посты", articles_path %>