<div class="container text-center">
    
  <h1>All articles by <%= @user.username %></h1>
  <h4><%= link_to "Новый пост", new_article_path %></h4>
  <div class="col-sm-offset-3 col-sm-6">
  <%= will_paginate @user_articles%>
  <% @user_articles.each do |article| %>
  <div class="panel panel-default">
   <div class="panel-heading">
    <h2><%= article.title %></h2>
   </div>
  <div class="panel-body">
    <%= article.description%>
  </div>
  <div class="panel-footer ">
   <%= link_to "Просмотреть", article_path(article), class:"btn btn-xs btn-primary"%>
   <%= link_to "Обновить", edit_article_path(article),class:"btn btn-xs btn-success"%>
   <%= link_to "Удалить", article_path(article), 
                          method: :delete, data: {confirm: "Are you sure?"}, 
                          class:"btn btn-xs btn-danger"
                          %>
   <%#= article.updated_at.strftime("%H:%M:%S, %d/%m/%y") %>
   Last update: <%= time_ago_in_words(article.updated_at) %> ago
   by <%= article.user.username %>
  </div>
</div>
  <% end %>
   <%= will_paginate @user_articles%>
</div>
